/*----- font-family Cairo-Regular -----*/
 @font-face {
     font-family:'Cairo-Regular';
     src: url('../fonts/Cairo-Regular.ttf');
     src: url('../fonts/Cairo-Regular.ttf') format('truetype'), url('../fonts/Cairo-Regular.eot') format('embedded-opentype'), url("../fonts/Cairo-Regular.otf") format("opentype"), url('../fonts/Cairo-Regular.woff') format('woff'), url('../fonts/Cairo-Regular.svg') format('svg');
}
/*----- / font-family Cairo-Regular -----*/
/*bootstrap reset start */
/*textarea reset*/
 textarea {
     resize: none;
}
/*button reset*/
 .btn-outline-primary:hover {
     color: #fff;
     background-color: transparent;
     border-color: #ae9350;
}
/*form control reset*/
 .form-control {
}
 .form-control:focus {
     border-color:transparent;
     outline: 0;
     box-shadow: 0 0 0 0.2rem rgba(232, 230, 230, 0.08);
}
 .form-control::-webkit-input-placeholder {
}
 .form-group {
     margin-bottom: 0rem !important;
}
/*dropdown menu*/
 .dropdown-menu {
     border-radius: 7px;
     border-bottom: 3px solid #b91b18 !important;
     color: #535353 !important;
     background-color: #f9f9f9 !important;
     -webkit-box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
 .dropdown-item {
     background-color: #f9f9f9 !important;
     color: #535353 !important;
     border-bottom: 1px solid #61606057 !important;
     text-align: center !important;
     transition: 0.7s;
}
 .dropdown-item:hover {
     background-color:#424242 !important;
     color:#f9f9f9 !important;
}
/*button reset*/
 .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle {
}
 .btn-outline-primary:hover {
}
 .btn.focus, .btn:focus {
     outline: 0;
     box-shadow: none;
}
 .form-control:focus {
     box-shadow: 0 0 0 0.2rem rgba(230, 0, 0, 0.28);
}
 .btn.focus, .btn:focus {
     box-shadow: 0 0 0 0.2rem rgba(230, 0, 0, 0.28);
}
 .form-control::placeholder {
     color: #989898;
}
 .form-control:-ms-input-placeholder {
     color: #989898;
}
 .form-control::-ms-input-placeholder {
     color: #989898;
}
 a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
     color: #f4f4f4;
}
/* /bootstrap reset end*/
/*general style reset start*/
 body{
     font-family:'Cairo-Regular';
     position: relative;
}
 p {
     margin-top: 0px !important;
     margin-bottom: 0px !important;
}
/*hr*/
 hr{
     border-top: 4px solid #e60000;
     margin-top: 0px !important;
}
 a:hover{
     text-decoration: none;
}
/*/
 general style reset end*/
/* ------ Pages styles start ------ */
/*my-business-project-header-page-styles-start */
/*english style start*/
 .my-business-project-header-page .navbar-light .navbar-nav .nav-link{
     color:#535353;
     font-weight: 400;
     text-transform: uppercase;
     font-size: 14px;
     transition:all .6s;
}
 .my-business-project-header-page .dropdown-menu {
     min-width: auto !important;
}
 .my-business-project-header-page .country-dropdown .nav-link{
     color:#535353;
     font-weight: 400;
     text-transform: uppercase;
     font-size: 14px;
     text-decoration: none;
     transition:all .6s;
}
 .my-business-project-header-page .navbar-light .navbar-nav .nav-link:hover{
     color: #e60000;
}
 .my-business-project-header-page .my-business-big-menu{
     border-bottom: 1px solid rgba(175, 175, 175, 0.52);
     box-shadow: 0 4px 8px 0 rgba(105, 105, 105, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.2);
}
 .my-business-project-header-page .logo-nav-div{
     float: left;
     border-right: 1px solid #989898;
     padding-right: 30px;
     width: 170px;
}
 .my-business-project-header-page .menu-with-out-logo{
     display: flex;
     margin-left: auto;
}
 .my-business-project-header-page .searsh-input-type-header{
     background-color: #ffffff;
     border: 1px solid rgb(226, 226, 226);
     border-radius: 30px;
}
 .my-business-project-header-page .search-menu-form{
     position: relative;
     display: flex;
}
 .my-business-project-header-page .mobile-header-search-icon{
     color: #e60000;
     display:none;
}
 .my-business-project-header-page .search-menu-form .header-search-icon{
     color: #989898;
     position: absolute;
     right: 10px;
}
 .my-business-project-header-page .header-login-button{
     border-radius: 30px;
     margin-right: 10px;
}
 .my-business-project-header-page .navbar-nav .login-li{
     padding-left:10px;
     padding-right:5px;
     border-left:1px solid #989898;
     margin-left: 10px;
}
 .my-business-project-header-page .navbar-nav .or-word-class{
     padding-right: 15px;
     text-transform: uppercase;
     color: #535353;
     font-size: 17px;
     font-weight: bold;
}
 .my-business-project-header-page .my-business-big-menu .logo-nav-div .logo-img-in-big-size{
     width:100%;
     height:auto;
}
 .my-business-project-header-page .my-business-big-menu .logo-nav-div .logo-img-in-big-size img{
     width:100%;
     height:auto;
}
 .my-business-project-header-page .my-business-big-menu .logo-nav-div .logo-img-in-small-size{
     display: none;
}
 .my-business-project-header-page .country-dropdown{
     display: flex;
}
 .login-modal-class .social-media-buttons a{
     display: block;
     margin-left: auto;
     margin-right: auto;
     color: #fff;
     border-radius: 5px;
     padding: 15px;
     text-align: center;
     width: 70%;
     margin-top: 15px;
     font-size: 18px;
}
 .login-modal-class .social-media-buttons a:hover{
     opacity: .7;
}
 .login-modal-class .social-media-buttons a .social-media-icon {
     padding-right: 10px;
     padding-left: 10px;
     font-size: 20px;
}
 .login-modal-class .modal-p{
     text-align: center;
     font-size:18px;
     color: #333;
}
 .login-modal-class .login-register-tab .or-login-register-word{
     margin-top: 35px;
     margin-bottom: 35px;
     color: #7b7b7b;
     text-align: center;
}
 .login-modal-class .login-register-tab .or-login-register-word::before {
     content: " ";
     display: inline-block;
     width:40%;
     border-bottom:2px solid #b2b2b2;
     margin-right: 10px;
}
 .login-modal-class .login-register-tab .or-login-register-word::after {
     content: " ";
     display: inline-block;
     width:40%;
     border-bottom:2px solid #b2b2b2;
     margin-left: 10px;
}
 .login-modal-class .login-register-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
     color: #fff;
     background-color: #e60000;
     border-color: #dee2e6 #dee2e6 #fff;
     transition:all .6s;
}
 .login-modal-class .login-register-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active:hover {
     color: #fff;
     background-color: #ff6060 ;
}
 .login-modal-class .login-register-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
     background-color: #eee;
     color: #494949;
     padding: 10px 40px;
     margin-right: 15px;
     transition:all .6s;
}
 .login-modal-class .login-register-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
     color: #fff;
     background-color: #e60000;
}
 .login-modal-class .login-register-tab .form-control {
     border: 1px solid #eee;
     background: #f9f9f9;
     padding: 10px;
}
 .my-business-project-header-page .profile-info .nav-link {
     color: #535353;
     transition:all .6s;
}
 .my-business-project-header-page .profile-info .nav-link:hover {
     color: #e60000;
}
/* / english style end*/
/* /my-business-project-header-page-styles-end*/
/*my-business-project-footer-page-styles-start */
/*english style start*/
 .my-business-project-footer-page{
     background-color: #333;
     padding-top: 15px;
     padding-bottom: 15px;
}
 .my-business-project-footer-page .footer-ul {
     list-style: none;
     margin-top: 20px;
     margin-bottom: 20px;
     margin-left: auto;
     margin-right: auto;
     left: 0px;
     right: 0px;
     text-align: center;
}
 .my-business-project-footer-page .footer-ul li{
     display: inline-block;
     border-right: 1px solid #fff;
     padding: 5px 15px;
}
 .my-business-project-footer-page .footer-ul li:last-child {
     border-right: none;
}
 .my-business-project-footer-page .footer-ul li a{
     color: #fff;
     text-decoration: none;
     transition:all .6s;
}
 .my-business-project-footer-page .footer-ul li a:hover{
     color: #e60000;
}
 .my-business-project-footer-page .mony-pay-div span{
     margin-top: 20px;
     margin-bottom: 20px;
}
 .my-business-project-footer-page .mony-pay-div span{
     display: inline-block;
     width: 65px;
     height: 30px;
     margin-left: 3px;
     margin-right: 3px;
}
 .my-business-project-footer-page .mony-pay-div span img{
     display: inline-block;
     width: 100%;
     height: 100%;
}
 .my-business-project-footer-page .copy-rights-p{
     text-align: center;
     font-size: 15px;
     color: #fff;
     margin-top: 20px !important;
     margin-bottom: 20px !important;
}
 .my-business-project-footer-page .social-media-div {
     margin-top: 20px;
     margin-bottom: 20px;
     float: right;
}
 .my-business-project-footer-page .social-media-div span {
     display: inline-block;
     color: #fff;
     border-radius: 50%;
     border: 1px solid #fff;
     margin-left: 3px;
     margin-right: 3px;
     width: 30px;
     height: 30px;
     line-height: 30px;
     text-align: center;
}
 .my-business-project-footer-page .social-media-div span a{
     color: #fff;
     text-decoration: none;
     transition:all .6s;
}
 .my-business-project-footer-page .social-media-div span a:hover{
     color: #e60000;
}
/*/
english style start*/
/*/
my-business-project-footer-page-styles-end */
/*my-business-home-page-styles-start */
/*english style start*/
 .my-business-home-page .home-page-search-section{
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 90px;
     padding-bottom: 90px;
}
 .my-business-home-page .home-page-search-section .search-menu-form {
     padding-top: 210px;
}
 .my-business-home-page .home-page-search-section .search-input-type-home{
     width:70% ;
     margin-right: 10px;
}
 .my-business-home-page .home-page-h2{
     color: #3E3E3E;
     padding-top: 35px;
     padding-bottom: 20px;
     text-align: center;
}
 .my-business-home-page .small-header-hint{
     padding: 5px 60px;
     font-size: 13px;
     color: #fff;
}
 .my-business-home-page .our-exbtion-div .our-exbtion-img-div{
     margin-left: auto;
     margin-right: auto;
     display: block;
}
 .my-business-home-page .our-exbtion-div .our-exbtion-img-div img{
     margin-left: auto;
     margin-right: auto;
     display: block;
     padding: 5px 0px;
}
/*/
english style end*/
/*/
my-business-home-page-styles-end */
/*my-business-auction-form-page-styles-start*/
/*english style start*/
 .my-business-auction-form-page{
     padding-top: 35px;
     padding-bottom: 35px;
}
/*custome radio button*/
 @keyframes click-wave {
     0% {
         height: 40px;
         width: 40px;
         opacity: 0.35;
         position: relative;
    }
     100% {
         height: 200px;
         width: 200px;
         margin-left: -80px;
         margin-top: -80px;
         opacity: 0;
    }
}
 .option-input {
     -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     -o-appearance: none;
     appearance: none;
     position: relative;
     top: 5.33333px;
     right: 0;
     bottom: 0;
     left: 0;
     height: 18px;
     width: 18px;
     transition: all 0.15s ease-out 0s;
     background: transparent;
     border: 1px solid #b1b1b1e8;
     color: #fff;
     cursor: pointer;
     display: inline-block;
     margin-right: 0.5rem;
     outline: none;
     position: relative;
     z-index: 2;
}
 .option-input:hover {
     background: #b0b8c4;
}
 .option-input:checked {
     background: #e60000;
     border: none !important;
}
 .option-input:checked::before {
     height: 18px;
     width: 18px;
     position: absolute;
     content: '✔';
     display: inline-block;
     font-size: 13px;
     text-align: center;
     line-height:18px;
     border: none;
}
 .option-input:checked::after {
     -webkit-animation: click-wave 0.65s;
     -moz-animation: click-wave 0.65s;
     animation: click-wave 0.65s;
     background: #f70000;
     content: '';
     display: block;
     position: relative;
     z-index: 100;
     border: none;
}
 .option-input.radio {
     border-radius: 50%;
}
 .option-input.radio::after {
     border-radius: 50%;
}
/*/
english style end*/
/*arabic style start*/
/*/
arbic style end*/
/*/
 my-business-auction-form-page-styles-end*/
/* ------ / Pages styles end ------ */
/*website color start */
 .my-business-black-background-color{
     background-color: #3E3E3E;
}
 .my-business-header-white-background-color{
     background-color: #f9f9f9;
}
 .my-business-red-font-color{
     color: #e60000;
}
 .my-business-red-background-color{
     background-color: #e60000;
}
 .my-business-link-color{
     color: #535353;
}
/*/
website color end*/
/* ------ util start ------ */
/* font color */
 .face-book-background-color{
     background-color: #3b5998;
}
 .face-book-font-color{
     color: #3b5998;
}
 .twitter-background-color{
     background-color:#55acee;
}
 .twitter-font-color{
     color:#55acee;
}
 .grey-color{
     color:#a2a2a2;
}
 .font-color-white{
     color: #fff;
}
 .transparent-grey-color{
     color:rgb(111, 112, 114) !important;
}
 .dark-grey-color{
     color:#333333;
}
 .white-color{
     color:#ffffff !important;
}
 .black-color{
     color:#000000;
}
 .blue-color {
     color:#142a53;
}
 .turquoise-color {
     color:#21a9e7;
}
 .light-green-color {
     color:#88b51e;
}
 .green-color {
     color:#81b014;
}
 .red-color {
     color:#a0001b;
}
 .yellow-color {
     color:#ffb624;
}
/* / font color */
/* background color */
 .grey-background{
     background-color:#cccccc !important;
}
 .light-grey-background{
     background-color:#dddddd;
}
 .dark-grey-background{
     background-color:#5f5d5d;
}
 .turquoise-background{
     background-color:#21a9e7 !important;
}
 .white-background{
     background-color:#ffffff;
}
 .black-background{
     background-color:#000000;
}
 .trans-background{
     background-color: transparent !important;
}
 .light-green-background{
     background-color: #afcd6b !important;
}
 .red-background{
     background-color: #7da000 !important;
}
 .green-background{
     background-color: #7DA000 !important;
}
/* / background color */
/* z-index */
 .z-index-0{
     z-index:0;
}
 .z-index-1{
     z-index:1;
}
 .z-index-2{
     z-index:2;
}
 .z-index-3{
     z-index:3;
}
 .z-index-4{
     z-index:4;
}
 .z-index-5{
     z-index:5;
}
 .z-index-6{
     z-index:6;
}
 .z-index-7{
     z-index:7;
}
 .z-index-8{
     z-index:8;
}
 .z-index-9{
     z-index:9;
}
 .z-index-10{
     z-index:10;
}
 .z-index-999{
     z-index:999;
}
/* / z-index */
/* border radius */
 .border-radius-0{
     border-radius:0px;
}
 .top-border-radiuse-left-right-3{
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
}
 .bottom-border-radiuse-left-right-3{
     border-bottom-left-radius: 3px;
     border-bottom-right-radius: 3px;
}
 .left-border-radiuse-top-bottom-3{
     border-bottom-left-radius: 3px;
     border-top-left-radius: 3px;
}
 .right-border-radiuse-top-bottom-3{
     border-bottom-right-radius: 3px;
     border-top-right-radius: 3px;
}
 .border-radius-3{
     border-radius:3px !important;
}
 .border-radius-5{
     border-radius:5px;
}
 .border-radius-10{
     border-radius:10px !important;
}
 .border-radius-15{
     border-radius:15px;
}
 .border-radius-20{
     border-radius:20px;
}
 .border-radius-25{
     border-radius:25px;
}
 .border-radius-30{
     border-radius:30px;
}
 .border-radius-40{
     border-radius:40px;
}
 .border-radius-50{
     border-radius:50px;
}
 .border-radius-60{
     border-radius:60px;
}
 .border-radius-70{
     border-radius:70px;
}
 .border-radius-80{
     border-radius:80px;
}
 .border-radius-90{
     border-radius:90px;
}
 .border-radius-100{
     border-radius:100px;
}
 .border-radius-percent-50{
     border-radius:50% 50%;
}
/* / border radius */
/* font size */
 .font-6{
     font-size:6px !important 
}
 .font-8{
     font-size:8px !important 
}
 .font-10{
     font-size:10px !important 
}
 .font-11{
     font-size:11px !important 
}
 .font-12{
     font-size:12px !important 
}
 .font-13{
     font-size:13px !important 
}
 .font-14{
     font-size:14px !important 
}
 .font-15{
     font-size:15px !important 
}
 .font-16{
     font-size:16px !important 
}
 .font-17{
     font-size:17px !important 
}
 .font-18{
     font-size:18px !important 
}
 .font-20{
     font-size:20px !important 
}
 .font-21{
     font-size:21px !important 
}
 .font-22{
     font-size:22px !important 
}
 .font-24{
     font-size:24px !important 
}
 .font-26{
     font-size:26px !important 
}
 .font-30{
     font-size:30px !important 
}
 .font-32{
     font-size:32px !important 
}
 .font-36{
     font-size:36px !important 
}
 .font-40{
     font-size:40px !important;
     letter-spacing: 1px;
}
 .font-50{
     font-size:50px !important;
     letter-spacing: 1px;
}
 .font-60{
     font-size:60px !important;
     letter-spacing: 1px;
}
 .font-70{
     font-size:70px !important;
     letter-spacing: 1px;
}
 .font-80{
     font-size:80px !important;
     letter-spacing: 1px;
}
 .font-90{
     font-size:90px !important;
     letter-spacing: 1px;
}
 .font-100{
     font-size:100px !important;
     letter-spacing: 1px;
}
 .font-weight-400{
     font-weight:400 
}
 .font-weight-600{
     font-weight: 600 
}
 .font-weight-900{
     font-weight: 900 
}
 .font-weight-bold{
     font-weight: bold !important;
}
 .font-family-gess{
     font-family:GESSTwoLight-Light !important;
}
 .font-family-seguihis{
     font-family:seguihis !important;
}
 .font-family-Cairo-Regular{
     font-family:Cairo-Regular !important;
}
 .font-family-awesome{
     font-family:FontAwesome !important;
}
/* / font size */
/*----- PADDING -----*/
/* padding vertical */
 .padding-vertical-0 {
     padding-top: 0px !important;
     padding-bottom: 0px !important;
}
 .padding-vertical-5 {
     padding-top: 5px;
     padding-bottom: 5px;
}
 .padding-vertical-7 {
     padding-top: 7px;
     padding-bottom: 7px;
}
 .padding-vertical-10 {
     padding-top: 10px;
     padding-bottom: 10px;
}
 .padding-vertical-15 {
     padding-top: 15px;
     padding-bottom: 15px;
}
 .padding-vertical-20 {
     padding-top: 20px;
     padding-bottom: 20px;
}
 .padding-vertical-25 {
     padding-top: 25px;
     padding-bottom: 25px;
}
 .padding-vertical-30 {
     padding-top: 30px;
     padding-bottom: 30px;
}
 .padding-vertical-35 {
     padding-top: 35px;
     padding-bottom: 35px;
}
 .padding-vertical-40 {
     padding-top: 40px;
     padding-bottom: 40px;
}
 .padding-vertical-45 {
     padding-top: 45px;
     padding-bottom: 45px;
}
 .padding-vertical-50 {
     padding-top: 50px;
     padding-bottom: 50px;
}
 .padding-vertical-55 {
     padding-top: 55px;
     padding-bottom: 55px;
}
 .padding-vertical-60 {
     padding-top: 60px;
     padding-bottom: 60px;
}
 .padding-vertical-65 {
     padding-top: 65px;
     padding-bottom: 65px;
}
 .padding-vertical-70 {
     padding-top: 70px;
     padding-bottom: 70px;
}
 .padding-vertical-75 {
     padding-top: 75px;
     padding-bottom: 75px;
}
 .padding-vertical-80 {
     padding-top: 80px;
     padding-bottom: 80px;
}
 .padding-vertical-85 {
     padding-top: 85px;
     padding-bottom: 85px;
}
 .padding-vertical-90 {
     padding-top: 90px;
     padding-bottom: 90px;
}
 .padding-vertical-95 {
     padding-top: 95px;
     padding-bottom: 95px;
}
 .padding-vertical-100 {
     padding-top: 100px;
     padding-bottom: 100px;
}
/*/
 padding vertical */
/* padding horizontal */
 .padding-horizontal-0 {
     padding-left: 0px !important;
     padding-right: 0px !important;
}
 .padding-horizontal-5 {
     padding-left: 5px;
     padding-right: 5px;
}
 .padding-horizontal-7 {
     padding-left: 7px;
     padding-right: 7px;
}
 .padding-horizontal-10 {
     padding-left: 10px;
     padding-right: 10px;
}
 .padding-horizontal-15 {
     padding-left: 15px;
     padding-right: 15px;
}
 .padding-horizontal-20 {
     padding-left: 20px;
     padding-right: 20px;
}
 .padding-horizontal-25 {
     padding-left: 25px;
     padding-right: 25px;
}
 .padding-horizontal-30 {
     padding-left: 30px;
     padding-right: 30px;
}
 .padding-horizontal-35 {
     padding-left: 35px;
     padding-right: 35px;
}
 .padding-horizontal-40 {
     padding-left: 40px;
     padding-right: 40px;
}
 .padding-horizontal-45 {
     padding-left: 45px;
     padding-right: 45px;
}
 .padding-horizontal-50 {
     padding-left: 50px;
     padding-right: 50px;
}
 .padding-horizontal-55 {
     padding-left: 55px;
     padding-right: 55px;
}
 .padding-horizontal-60 {
     padding-left: 60px;
     padding-right: 60px;
}
 .padding-horizontal-65 {
     padding-left: 65px;
     padding-right: 65px;
}
 .padding-horizontal-70 {
     padding-left: 70px;
     padding-right: 70px;
}
 .padding-horizontal-75 {
     padding-left: 75px;
     padding-right: 75px;
}
 .padding-horizontal-80 {
     padding-left: 80px;
     padding-right: 80px;
}
 .padding-horizontal-85 {
     padding-left: 85px;
     padding-right: 85px;
}
 .padding-horizontal-90 {
     padding-left: 90px;
     padding-right: 90px;
}
 .padding-horizontal-95 {
     padding-left: 95px;
     padding-right: 95px;
}
 .padding-horizontal-100 {
     padding-left: 100px;
     padding-right: 100px;
}
 .padding-horizontal-105 {
     padding-left: 105px;
     padding-right: 105px;
}
 .padding-0 {
     padding: 0px !important;
}
/* /Padding Horizontal */
/* Padding Top */
 .padding-top-0 {
     padding-top: 0px !important;
}
 .padding-top-5 {
     padding-top: 5px;
}
 .padding-top-10 {
     padding-top: 10px !important;
}
 .padding-top-15 {
     padding-top: 15px;
}
 .padding-top-20 {
     padding-top: 20px;
}
 .padding-top-25 {
     padding-top: 25px;
}
 .padding-top-30 {
     padding-top: 30px;
}
 .padding-top-35 {
     padding-top: 35px;
}
 .padding-top-40 {
     padding-top: 40px;
}
 .padding-top-45 {
     padding-top: 45px;
}
 .padding-top-50 {
     padding-top: 50px;
}
 .padding-top-55 {
     padding-top: 55px;
}
 .padding-top-60 {
     padding-top: 60px;
}
 .padding-top-65 {
     padding-top: 65px;
}
 .padding-top-70 {
     padding-top: 70px;
}
 .padding-top-75 {
     padding-top: 75px;
}
 .padding-top-80 {
     padding-top: 80px;
}
 .padding-top-85 {
     padding-top: 85px;
}
 .padding-top-90 {
     padding-top: 90px;
}
 .padding-top-95 {
     padding-top: 95px;
}
 .padding-top-100 {
     padding-top: 100px;
}
/* /Padding Top */
/* Padding Bottom */
 .padding-bottom-0 {
     padding-bottom: 0px;
}
 .padding-bottom-5 {
     padding-bottom: 5px;
}
 .padding-bottom-10 {
     padding-bottom: 10px;
}
 .padding-bottom-15 {
     padding-bottom: 15px;
}
 .padding-bottom-20 {
     padding-bottom: 20px;
}
 .padding-bottom-25 {
     padding-bottom: 25px;
}
 .padding-bottom-30 {
     padding-bottom: 30px;
}
 .padding-bottom-35 {
     padding-bottom: 35px;
}
 .padding-bottom-40 {
     padding-bottom: 40px;
}
 .padding-bottom-45 {
     padding-bottom: 45px;
}
 .padding-bottom-50 {
     padding-bottom: 50px;
}
 .padding-bottom-55 {
     padding-bottom: 55px;
}
 .padding-bottom-60 {
     padding-bottom: 60px;
}
 .padding-bottom-65 {
     padding-bottom: 65px;
}
 .padding-bottom-70 {
     padding-bottom: 70px;
}
 .padding-bottom-75 {
     padding-bottom: 75px;
}
 .padding-bottom-80 {
     padding-bottom: 80px;
}
 .padding-bottom-85 {
     padding-bottom: 85px;
}
 .padding-bottom-90 {
     padding-bottom: 90px;
}
 .padding-bottom-95 {
     padding-bottom: 95px;
}
 .padding-bottom-100 {
     padding-bottom: 100px;
}
/* /Padding Bottom */
/* Padding Right */
 .padding-right-0 {
     padding-right: 0px;
}
 .padding-right-5 {
     padding-right: 5px;
}
 .padding-right-10 {
     padding-right: 10px;
}
 .padding-right-15 {
     padding-right: 15px;
}
 .padding-right-20 {
     padding-right: 20px;
}
 .padding-right-25 {
     padding-right: 25px;
}
 .padding-right-30 {
     padding-right: 30px;
}
 .padding-right-35 {
     padding-right: 35px;
}
 .padding-right-40 {
     padding-right: 40px;
}
 .padding-right-45 {
     padding-right: 45px;
}
 .padding-right-50 {
     padding-right: 50px;
}
 .padding-right-55 {
     padding-right: 55px !important;
}
 .padding-right-60 {
     padding-right: 60px;
}
 .padding-right-65 {
     padding-right: 65px;
}
 .padding-right-70 {
     padding-right: 70px;
}
 .padding-right-75 {
     padding-right: 75px;
}
 .padding-right-80 {
     padding-right: 80px;
}
 .padding-right-85 {
     padding-right: 85px;
}
 .padding-right-90 {
     padding-right: 90px;
}
 .padding-right-95 {
     padding-right: 95px;
}
 .padding-right-100 {
     padding-right: 100px;
}
/* /Padding Right */
/* Padding Left */
 .padding-left-0 {
     padding-left: 0px;
}
 .padding-left-5 {
     padding-left: 5px;
}
 .padding-left-10 {
     padding-left: 10px;
}
 .padding-left-15 {
     padding-left: 15px;
}
 .padding-left-20 {
     padding-left: 20px;
}
 .padding-left-25 {
     padding-left: 25px;
}
 .padding-left-30 {
     padding-left: 30px;
}
 .padding-left-35 {
     padding-left: 35px;
}
 .padding-left-40 {
     padding-left: 40px;
}
 .padding-left-45 {
     padding-left: 45px;
}
 .padding-left-50 {
     padding-left: 50px;
}
 .padding-left-55 {
     padding-left: 55px;
}
 .padding-left-60 {
     padding-left: 60px;
}
 .padding-left-65 {
     padding-left: 65px;
}
 .padding-left-70 {
     padding-left: 70px;
}
 .padding-left-75 {
     padding-left: 75px;
}
 .padding-left-80 {
     padding-left: 80px;
}
 .padding-left-85 {
     padding-left: 85px;
}
 .padding-left-90 {
     padding-left: 90px;
}
 .padding-left-95 {
     padding-left: 95px;
}
 .padding-left-100 {
     padding-left: 100px;
}
 .padding-left-185 {
     padding-left: 185px;
}
 .padding-left-140 {
     padding-left: 140px;
}
 .padding-right-140 {
     padding-right: 140px;
}
 .padding-left-125 {
     padding-left: 125px;
}
 .padding-right-125 {
     padding-right: 125px;
}
/* /Padding Left */
/* Padding Zero */
 .padding-zero {
     padding: 0px;
}
/* /Padding Zero */
/*----- /PADDING -----*/
/*----- MARGIN -----*/
/* Margin Vertical */
 .margin-vertical-0 {
     margin-top: 0px !important;
     margin-bottom: 0px !important;
}
 .margin-vertical-5 {
     margin-top: 5px;
     margin-bottom: 5px;
}
 .margin-vertical-10 {
     margin-top: 10px !important;
     margin-bottom: 10px !important;
}
 .margin-vertical-15 {
     margin-top: 15px;
     margin-bottom: 15px;
}
 .margin-vertical-20 {
     margin-top: 20px;
     margin-bottom: 20px;
}
 .margin-vertical-25 {
     margin-top: 25px;
     margin-bottom: 25px;
}
 .margin-vertical-30 {
     margin-top: 30px;
     margin-bottom: 30px;
}
 .margin-vertical-35 {
     margin-top: 35px;
     margin-bottom: 35px;
}
 .margin-vertical-40 {
     margin-top: 40px;
     margin-bottom: 40px;
}
 .margin-vertical-45 {
     margin-top: 45px;
     margin-bottom: 45px;
}
 .margin-vertical-50 {
     margin-top: 50px;
     margin-bottom: 50px;
}
 .margin-vertical-55 {
     margin-top: 55px;
     margin-bottom: 55px;
}
 .margin-vertical-60 {
     margin-top: 60px;
     margin-bottom: 60px;
}
 .margin-vertical-65 {
     margin-top: 65px;
     margin-bottom: 65px;
}
 .margin-vertical-70 {
     margin-top: 70px;
     margin-bottom: 70px;
}
 .margin-vertical-75 {
     margin-top: 75px;
     margin-bottom: 75px;
}
 .margin-vertical-80 {
     margin-top: 80px;
     margin-bottom: 80px;
}
 .margin-vertical-85 {
     margin-top: 85px;
     margin-bottom: 85px;
}
 .margin-vertical-90 {
     margin-top: 90px;
     margin-bottom: 90px;
}
 .margin-vertical-95 {
     margin-top: 95px;
     margin-bottom: 95px;
}
 .margin-vertical-100 {
     margin-top: 100px;
     margin-bottom: 100px;
}
/* /Margin Vertical */
/* Margin Horizontal */
 .margin-horizontal-0 {
     margin-right: 0px !important;
     margin-left: 0px !important;
}
 .margin-horizontal-5 {
     margin-right: 5px;
     margin-left: 5px;
}
 .margin-horizontal-10 {
     margin-right: 10px;
     margin-left: 10px;
}
 .margin-horizontal-15 {
     margin-right: 15px;
     margin-left: 15px;
}
 .margin-horizontal-20 {
     margin-right: 20px;
     margin-left: 20px;
}
 .margin-horizontal-25 {
     margin-right: 25px;
     margin-left: 25px;
}
 .margin-horizontal-30 {
     margin-right: 30px;
     margin-left: 30px;
}
 .margin-horizontal-35 {
     margin-right: 35px;
     margin-left: 35px;
}
 .margin-horizontal-40 {
     margin-right: 40px;
     margin-left: 40px;
}
 .margin-horizontal-45 {
     margin-right: 45px;
     margin-left: 45px;
}
 .margin-horizontal-50 {
     margin-right: 50px;
     margin-left: 50px;
}
 .margin-horizontal-55 {
     margin-right: 55px;
     margin-left: 55px;
}
 .margin-horizontal-60 {
     margin-right: 60px;
     margin-left: 60px;
}
 .margin-horizontal-65 {
     margin-right: 65px;
     margin-left: 65px;
}
 .margin-horizontal-70 {
     margin-right: 70px;
     margin-left: 70px;
}
 .margin-horizontal-75 {
     margin-right: 75px;
     margin-left: 75px;
}
 .margin-horizontal-80 {
     margin-right: 80px;
     margin-left: 80px;
}
 .margin-horizontal-85 {
     margin-right: 85px;
     margin-left: 85px;
}
 .margin-horizontal-90 {
     margin-right: 90px;
     margin-left: 90px;
}
 .margin-horizontal-95 {
     margin-right: 95px;
     margin-left: 95px;
}
 .margin-horizontal-100 {
     margin-right: 100px;
     margin-left: 100px;
}
/* /Margin Horizontal */
/* Margin Top */
 .margin-top-0 {
     margin-top: 0px !important;
}
 .margin-top-5 {
     margin-top: 5px !important;
}
 .margin-top-10 {
     margin-top: 10px;
}
 .margin-top-15 {
     margin-top: 15px;
}
 .margin-top-20 {
     margin-top: 20px;
}
 .margin-top-25 {
     margin-top: 25px;
}
 .margin-top-30 {
     margin-top: 30px !important;
}
 .margin-top-35 {
     margin-top: 35px;
}
 .margin-top-40 {
     margin-top: 40px;
}
 .margin-top-45 {
     margin-top: 45px;
}
 .margin-top-50 {
     margin-top: 50px;
}
 .margin-top-55 {
     margin-top: 55px;
}
 .margin-top-60 {
     margin-top: 60px;
}
 .margin-top-65 {
     margin-top: 65px;
}
 .margin-top-70 {
     margin-top: 70px;
}
 .margin-top-75 {
     margin-top: 75px;
}
 .margin-top-80 {
     margin-top: 80px;
}
 .margin-top-85 {
     margin-top: 85px;
}
 .margin-top-90 {
     margin-top: 90px;
}
 .margin-top-95 {
     margin-top: 95px;
}
 .margin-top-100 {
     margin-top: 100px;
}
/* /Margin Top */
/* Margin Bottom */
 .margin-bottom-0 {
     margin-bottom: 0px !important;
}
 .margin-bottom-5 {
     margin-bottom: 5px;
}
 .margin-bottom-10 {
     margin-bottom: 10px;
}
 .margin-bottom-15 {
     margin-bottom: 15px;
}
 .margin-bottom-20 {
     margin-bottom: 20px;
}
 .margin-bottom-25 {
     margin-bottom: 25px;
}
 .margin-bottom-30 {
     margin-bottom: 30px;
}
 .margin-bottom-35 {
     margin-bottom: 35px;
}
 .margin-bottom-40 {
     margin-bottom: 40px;
}
 .margin-bottom-45 {
     margin-bottom: 45px;
}
 .margin-bottom-50 {
     margin-bottom: 50px;
}
 .margin-bottom-55 {
     margin-bottom: 55px;
}
 .margin-bottom-60 {
     margin-bottom: 60px;
}
 .margin-bottom-65 {
     margin-bottom: 65px;
}
 .margin-bottom-70 {
     margin-bottom: 70px;
}
 .margin-bottom-75 {
     margin-bottom: 75px;
}
 .margin-bottom-80 {
     margin-bottom: 80px;
}
 .margin-bottom-85 {
     margin-bottom: 85px;
}
 .margin-bottom-90 {
     margin-bottom: 90px;
}
 .margin-bottom-95 {
     margin-bottom: 95px;
}
 .margin-bottom-100 {
     margin-bottom: 100px;
}
 .margin-bottom-170 {
     margin-bottom: 170px;
}
/* /Margin Bottom */
/* Margin Right */
 .margin-right-0 {
     margin-right: 0px;
}
 .margin-right-5 {
     margin-right: 5px !important;
}
 .margin-right-10 {
     margin-right: 10px;
}
 .margin-right-15 {
     margin-right: 15px;
}
 .margin-right-20 {
     margin-right: 20px;
}
 .margin-right-25 {
     margin-right: 25px;
}
 .margin-right-30 {
     margin-right: 30px;
}
 .margin-right-35 {
     margin-right: 35px;
}
 .margin-right-40 {
     margin-right: 40px;
}
 .margin-right-45 {
     margin-right: 45px;
}
 .margin-right-50 {
     margin-right: 50px;
}
 .margin-right-55 {
     margin-right: 55px;
}
 .margin-right-60 {
     margin-right: 60px;
}
 .margin-right-65 {
     margin-right: 65px;
}
 .margin-right-70 {
     margin-right: 70px;
}
 .margin-right-75 {
     margin-right: 75px;
}
 .margin-right-80 {
     margin-right: 80px;
}
 .margin-right-85 {
     margin-right: 85px;
}
 .margin-right-90 {
     margin-right: 90px;
}
 .margin-right-95 {
     margin-right: 95px;
}
 .margin-right-100 {
     margin-right: 100px;
}
 .margin-right-200 {
     margin-right: 200px;
}
 .margin-right-auto {
     margin-right: auto !important;
}
 .margin-left-auto {
     margin-left: auto !important;
}
/* /Margin Right */
/* Margin Left */
 .margin-left-0 {
     margin-left: 0px;
}
 .margin-left-5 {
     margin-left: 5px;
}
 .margin-left-10 {
     margin-left: 10px;
}
 .margin-left-15 {
     margin-left: 15px;
}
 .margin-left-20 {
     margin-left: 20px;
}
 .margin-left-25 {
     margin-left: 25px;
}
 .margin-left-30 {
     margin-left: 30px;
}
 .margin-left-35 {
     margin-left: 35px;
}
 .margin-left-40 {
     margin-left: 40px;
}
 .margin-left-45 {
     margin-left: 45px;
}
 .margin-left-50 {
     margin-left: 50px;
}
 .margin-left-55 {
     margin-left: 55px;
}
 .margin-left-60 {
     margin-left: 60px;
}
 .margin-left-65 {
     margin-left: 65px;
}
 .margin-left-70 {
     margin-left: 70px;
}
 .margin-left-75 {
     margin-left: 75px;
}
 .margin-left-80 {
     margin-left: 80px;
}
 .margin-left-85 {
     margin-left: 85px;
}
 .margin-left-90 {
     margin-left: 90px;
}
 .margin-left-95 {
     margin-left: 95px;
}
 .margin-left-100 {
     margin-left: 100px;
}
 .margin-left-180 {
     margin-left: 180px;
}
 .margin-left-200 {
     margin-left: 200px;
}
/* /Margin Left */
/* Margin Auto */
 .margin-auto {
     margin-left: auto !important;
     margin-right: auto !important;
     display: block !important;
}
/* /Margin Auto */
/* Margin Center */
 .margin-center {
     margin: auto !important;
     display: block !important;
     float: none !important;
}
/* /Margin Center */
/* Margin Zero */
 .margin-zero {
     margin: 0px !important;
}
/* /Margin Zero */
/*----- /MARGIN -----*/
/*----- DISPLAY -----*/
/* Display Block */
 .display-block {
     display:block !important;
}
/* /Display Block */
/* Display Inline */
 .display-inline {
     display:inline;
}
/* /Display Inline */
/* Display Inline Block */
 .display-inline-block {
     display:inline-block !important;
}
/* /Display flex */
 .display-flex{
     display:flex;
}
/* Display Inline flex */
 .display-inline-flex {
     display:inline-flex;
}
/* /Display Inline Block */
/* Display Table */
 .display-table {
     display:table;
}
/* /Display Table */
/* Display Table Cell */
 .display-table-cell {
     display:table-cell;
}
/* /Display Table Cell */
/* Display None */
 .display-none {
     display:none !important;
}
/* /Display None */
/*----- /DISPLAY -----*/
/*----- POSITION -----*/
/* Position Relative */
 .position-relative {
     position:relative !important;
}
/* /Position Relative */
/* Position Absolute */
 .position-absolute {
     position:absolute !important;
}
/* /Position Absolute */
/* Position Fixed */
 .position-fixed {
     position:fixed;
}
/* /Position Fixed */
/*----- /POSITION -----*/
/*----- VERTICAL ALIGN -----*/
/* Vertical Align Top */
 .vertical-align-top {
     vertical-align:top;
}
/* /Vertical Align Top */
/* Vertical Align Middle */
 .vertical-align-middle {
     vertical-align:middle;
}
/* /Vertical Align Middle */
/* Vertical Align Bottom */
 .vertical-align-bottom {
     vertical-align:bottom;
}
/* /Vertical Align Bottom */
/*----- /VERTICAL ALIGN -----*/
/*----- VISIBILITY -----*/
/* Visibility Visible */
 .visibility-visible {
     visibility: visible;
}
/* /Visibility Visible */
/* Visibility Hidden */
 .visibility-hidden {
     visibility: hidden;
}
/* /Visibility Hidden */
/*----- /VISIBILITY -----*/
/*justify-content */
 .justify-content-center{
     justify-content: center;
}
/*/
 justify-content */
/*----- WIDTH -----*/
/* Width in Pixels */
 .width-auto{
     width: auto;
}
 .width-0 {
     width:0px;
}
 .width-5 {
     width:5px;
}
 .width-10 {
     width:10px;
}
 .width-15 {
     width:15px;
}
 .width-20 {
     width:20px !important;
}
 .width-25 {
     width:25px;
}
 .width-30 {
     width:30px;
}
 .width-35 {
     width:35px;
}
 .width-40 {
     width:40px;
}
 .width-45 {
     width:45px;
}
 .width-50 {
     width:50px;
}
 .width-55 {
     width:55px;
}
 .width-60 {
     width:60px;
}
 .width-65 {
     width:65px;
}
 .width-70 {
     width:70px;
}
 .width-75 {
     width:75px;
}
 .width-80 {
     width:80px;
}
 .width-85 {
     width:85px;
}
 .width-90 {
     width:90px;
}
 .width-95 {
     width:95px;
}
 .width-100 {
     width:100px;
}
 .width-115 {
     width:115px !important;
}
 .width-150 {
     width:150px;
}
 .width-180 {
     width:180px;
}
 .width-200 {
     width:200px !important;
}
 .width-300 {
     width:300px !important;
}
 .width-750 {
     width:750px !important;
}
/* /Width in Pixels */
/* Width in Percentage */
 .width-percent-0 {
     width:0%;
}
 .width-percent-5 {
     width:5%;
}
 .width-percent-10 {
     width:10%;
}
 .width-percent-12-5 {
     width:12.5%;
}
 .width-percent-15 {
     width:15%;
}
 .width-percent-20 {
     width:20% !important;
}
 .width-percent-25 {
     width:25%;
}
 .width-percent-30 {
     width:30%;
}
 .width-percent-33 {
     width:33%;
}
 .width-percent-35 {
     width:35%;
}
 .width-percent-40 {
     width:40%;
}
 .width-percent-45 {
     width:45%;
}
 .width-percent-50 {
     width:50%;
}
 .width-percent-55 {
     width:55%;
}
 .width-percent-60 {
     width:60%;
}
 .width-percent-65 {
     width:65%;
}
 .width-percent-70 {
     width:70%;
}
 .width-percent-75 {
     width:75%;
}
 .width-percent-80 {
     width:80% !important;
}
 .width-percent-85 {
     width:85%;
}
 .width-percent-90 {
     width:90%;
}
 .width-percent-94 {
     width:94%;
}
 .width-percent-95 {
     width:95%;
}
 .width-percent-100 {
     width:100%;
}
 .width-percent-200 {
     width:200%;
}
 .width-percent-300 {
     width:300%;
}
 .width-percent-400 {
     width:400%;
}
 .width-percent-500 {
     width:500%;
}
/* /Width in Percentage */
/*----- /WIDTH -----*/
/*----- HEIGHT -----*/
/* Height in Pixels */
 .height-0 {
     height:0px;
}
 .height-5 {
     height:5px;
}
 .height-10 {
     height:10px;
}
 .height-15 {
     height:15px;
}
 .height-20 {
     height:20px;
}
 .height-25 {
     height:25px;
}
 .height-30 {
     height:30px;
}
 .height-35 {
     height:35px;
}
 .height-40 {
     height:40px !important;
}
 .line-height-40 {
     line-height:40px !important;
}
 .height-45 {
     height:45px;
}
 .height-50 {
     height:50px;
}
 .height-55 {
     height:55px;
}
 .height-60 {
     height:60px;
}
 .line-height-65{
     line-height: 65px;
}
 .height-65 {
     height:65px;
}
 .height-70 {
     height:70px;
}
 .height-75 {
     height:75px;
}
 .height-80 {
     height:80px;
}
 .height-85 {
     height:85px;
}
 .height-90 {
     height:90px;
}
 .height-95 {
     height:95px;
}
 .height-100 {
     height:100px;
}
 .height-140 {
     height:140px;
}
 .height-150 {
     height:150px;
}
 .height-170 {
     height:170px;
}
 .height-180 {
     height:180px;
}
 .height-190 {
     height:190px;
}
 .height-200 {
     height:200px;
}
 .height-300 {
     height:300px;
}
/* /Height in Pixels */
/* Height in Percentage */
 .height-percent-0 {
     height:0%;
}
 .height-percent-5 {
     height:5%;
}
 .height-percent-10 {
     height:10%;
}
 .height-percent-15 {
     height:15%;
}
 .height-percent-20 {
     height:20%;
}
 .height-percent-25 {
     height:25%;
}
 .height-percent-30 {
     height:30%;
}
 .height-percent-35 {
     height:35%;
}
 .height-percent-40 {
     height:40%;
}
 .height-percent-45 {
     height:45%;
}
 .height-percent-50 {
     height:50%;
}
 .height-percent-55 {
     height:55%;
}
 .height-percent-60 {
     height:60%;
}
 .height-percent-65 {
     height:65%;
}
 .height-percent-70 {
     height:70%;
}
 .height-percent-75 {
     height:75%;
}
 .height-percent-80 {
     height:80%;
}
 .height-percent-85 {
     height:85%;
}
 .height-percent-90 {
     height:90%;
}
 .height-percent-95 {
     height:95%;
}
 .height-percent-100 {
     height:100%;
}
 .height-percent-200 {
     height:200%;
}
 .height-percent-300 {
     height:300%;
}
 .height-percent-400 {
     height:400%;
}
 .height-percent-500 {
     height:500%;
}
/* /Height in Percentage */
/* /Height in VH */
 .height-vh-100 {
     height:100vh;
}
/* /Height in VH */
/*----- /HEIGHT -----*/
/*----- ARROWS -----*/
/* Left in Percentage */
 .left-percent-0 {
     left:0%;
}
 .left-percent-5 {
     left:5%;
}
 .left-percent-10 {
     left:10%;
}
 .left-percent-15 {
     left:15%;
}
 .left-percent-20 {
     left:20%;
}
 .left-percent-25 {
     left:25%;
}
 .left-percent-30 {
     left:30%;
}
 .left-percent-35 {
     left:35%;
}
 .left-percent-40 {
     left:40%;
}
 .left-percent-45 {
     left:45%;
}
 .left-percent-50 {
     left:50%;
}
 .left-percent-55 {
     left:55%;
}
 .left-percent-60 {
     left:60%;
}
 .left-percent-65 {
     left:65%;
}
 .left-percent-70 {
     left:70%;
}
 .left-percent-75 {
     left:75%;
}
 .left-percent-80 {
     left:80%;
}
 .left-percent-85 {
     left:85%;
}
 .left-percent-90 {
     left:90%;
}
 .left-percent-95 {
     left:95%;
}
 .left-percent-100 {
     left:100%;
}
 .left-percent-200 {
     left:200%;
}
 .left-percent-300 {
     left:300%;
}
 .left-percent-400 {
     left:400%;
}
 .left-percent-500 {
     left:500%;
}
/* /Left in Percentage */
/* Right in Percentage */
 .right-percent-0 {
     right:0%;
}
 .right-percent-5 {
     right:5%;
}
 .right-percent-10 {
     right:10%;
}
 .right-percent-15 {
     right:15%;
}
 .right-percent-20 {
     right:20%;
}
 .right-percent-25 {
     right:25%;
}
 .right-percent-30 {
     right:30%;
}
 .right-percent-35 {
     right:35%;
}
 .right-percent-40 {
     right:40%;
}
 .right-percent-45 {
     right:45%;
}
 .right-percent-50 {
     right:50%;
}
 .right-percent-55 {
     right:55%;
}
 .right-percent-60 {
     right:60%;
}
 .right-percent-65 {
     right:65%;
}
 .right-percent-70 {
     right:70%;
}
 .right-percent-75 {
     right:75%;
}
 .right-percent-80 {
     right:80%;
}
 .right-percent-85 {
     right:85%;
}
 .right-percent-90 {
     right:90%;
}
 .right-percent-95 {
     right:95%;
}
 .right-percent-100 {
     right:100%;
}
 .right-percent-200 {
     right:200%;
}
 .right-percent-300 {
     right:300%;
}
 .right-percent-400 {
     right:400%;
}
 .right-percent-500 {
     right:500%;
}
/* /Right in Percentage */
/* Top in Percentage */
 .top-percent-0 {
     top:0%;
}
 .top-percent-5 {
     top:5%;
}
 .top-percent-10 {
     top:10%;
}
 .top-percent-15 {
     top:15%;
}
 .top-percent-20 {
     top:20%;
}
 .top-percent-25 {
     top:25%;
}
 .top-percent-30 {
     top:30%;
}
 .top-percent-35 {
     top:35%;
}
 .top-percent-40 {
     top:40%;
}
 .top-percent-45 {
     top:45%;
}
 .top-percent-50 {
     top:50%;
}
 .top-percent-55 {
     top:55%;
}
 .top-percent-60 {
     top:60%;
}
 .top-percent-65 {
     top:65%;
}
 .top-percent-70 {
     top:70%;
}
 .top-percent-75 {
     top:75%;
}
 .top-percent-80 {
     top:80%;
}
 .top-percent-85 {
     top:85%;
}
 .top-percent-90 {
     top:90%;
}
 .top-percent-95 {
     top:95%;
}
 .top-percent-100 {
     top:100%;
}
 .top-percent-200 {
     top:200%;
}
 .top-percent-300 {
     top:300%;
}
 .top-percent-400 {
     top:400%;
}
 .top-percent-500 {
     top:500%;
}
 .top-160{
     top:160px;
}
/* /Top in Percentage */
/* Bottom in Percentage */
 .bottom-percent-0 {
     bottom:0%;
}
 .bottom-percent-5 {
     bottom:5%;
}
 .bottom-percent-10 {
     bottom:10%;
}
 .bottom-percent-15 {
     bottom:15%;
}
 .bottom-percent-20 {
     bottom:20%;
}
 .bottom-percent-25 {
     bottom:25%;
}
 .bottom-percent-30 {
     bottom:30%;
}
 .bottom-percent-35 {
     bottom:35%;
}
 .bottom-percent-40 {
     bottom:40%;
}
 .bottom-percent-45 {
     bottom:45%;
}
 .bottom-percent-50 {
     bottom:50%;
}
 .bottom-percent-55 {
     bottom:55%;
}
 .bottom-percent-60 {
     bottom:60%;
}
 .bottom-percent-65 {
     bottom:65%;
}
 .bottom-percent-70 {
     bottom:70%;
}
 .bottom-percent-75 {
     bottom:75%;
}
 .bottom-percent-80 {
     bottom:80%;
}
 .bottom-percent-85 {
     bottom:85%;
}
 .bottom-percent-90 {
     bottom:90%;
}
 .bottom-percent-95 {
     bottom:95%;
}
 .bottom-percent-100 {
     bottom:100%;
}
 .bottom-percent-200 {
     bottom:200%;
}
 .bottom-percent-300 {
     bottom:300%;
}
 .bottom-percent-400 {
     bottom:400%;
}
 .bottom-percent-500 {
     bottom:500%;
}
/* /Bottom in Percentage */
/* Left in Pixels */
 .left-0 {
     left:0px !important;
}
 .left-5 {
     left:5px;
}
 .left-10 {
     left:10px;
}
 .left-15 {
     left:15px;
}
 .left-20 {
     left:20px;
}
 .left-25 {
     left:25px;
}
 .left-30 {
     left:30px;
}
 .left-35 {
     left:35px;
}
 .left-40 {
     left:40px;
}
 .left-45 {
     left:45px;
}
 .left-50 {
     left:50px;
}
 .left-55 {
     left:55px;
}
 .left-60 {
     left:60px;
}
 .left-65 {
     left:65px;
}
 .left-70 {
     left:70px;
}
 .left-75 {
     left:75px;
}
 .left-80 {
     left:80px;
}
 .left-85 {
     left:85px;
}
 .left-90 {
     left:90px;
}
 .left-95 {
     left:95px;
}
 .left-100 {
     left:100px;
}
 .left-200 {
     left:200px;
}
 .left-300 {
     left:300px;
}
 .left-400 {
     left:400px;
}
 .left-500 {
     left:500px;
}
 .left-785 {
     left:785px;
}
/* /Left in Pixels */
/* Right in Pixels */
 .right-0 {
     right:0px;
}
 .right-5 {
     right:5px;
}
 .right-10 {
     right:10px;
}
 .right-15 {
     right:15px;
}
 .right-20 {
     right:20px;
}
 .right-25 {
     right:25px;
}
 .right-30 {
     right:30px;
}
 .right-35 {
     right:35px;
}
 .right-40 {
     right:40px;
}
 .right-45 {
     right:45px;
}
 .right-50 {
     right:50px;
}
 .right-55 {
     right:55px;
}
 .right-60 {
     right:60px;
}
 .right-65 {
     right:65px;
}
 .right-70 {
     right:70px;
}
 .right-75 {
     right:75px;
}
 .right-80 {
     right:80px;
}
 .right-85 {
     right:85px;
}
 .right-90 {
     right:90px;
}
 .right-95 {
     right:95px;
}
 .right-100 {
     right:100px;
}
 .right-200 {
     right:200px;
}
 .right-300 {
     right:300px;
}
 .right-400 {
     right:400px;
}
 .right-500 {
     right:500px;
}
/* /Right in Pixels */
/* Top in Pixels */
 .top-0 {
     top:0px;
}
 .top-5 {
     top:5px;
}
 .top-10 {
     top:10px;
}
 .top-15 {
     top:15px;
}
 .top-20 {
     top:20px;
}
 .top-25 {
     top:25px;
}
 .top-30 {
     top:30px;
}
 .top-35 {
     top:35px;
}
 .top-39 {
     top:39px;
}
 .top-40 {
     top:40px;
}
 .top-45 {
     top:45px;
}
 .top-50 {
     top:50px;
}
 .top-55 {
     top:55px;
}
 .top-60 {
     top:60px;
}
 .top-65 {
     top:65px;
}
 .top-70 {
     top:70px;
}
 .top-75 {
     top:75px;
}
 .top-80 {
     top:80px;
}
 .top-85 {
     top:85px;
}
 .top-90 {
     top:90px;
}
 .top-95 {
     top:95px;
}
 .top-100 {
     top:100px;
}
 .top-200 {
     top:200px;
}
 .top-300 {
     top:300px;
}
 .top-400 {
     top:400px;
}
 .top-500 {
     top:500px;
}
/* /Top in Pixels */
/* Bottom in Pixels */
 .bottom-0 {
     bottom:0px;
}
 .bottom-5 {
     bottom:5px;
}
 .bottom-10 {
     bottom:10px;
}
 .bottom-15 {
     bottom:15px;
}
 .bottom-20 {
     bottom:20px;
}
 .bottom-25 {
     bottom:25px;
}
 .bottom-30 {
     bottom:30px;
}
 .bottom-35 {
     bottom:35px;
}
 .bottom-40 {
     bottom:40px;
}
 .bottom-45 {
     bottom:45px;
}
 .bottom-50 {
     bottom:50px;
}
 .bottom-55 {
     bottom:55px;
}
 .bottom-60 {
     bottom:60px;
}
 .bottom-65 {
     bottom:65px;
}
 .bottom-70 {
     bottom:70px;
}
 .bottom-75 {
     bottom:75px;
}
 .bottom-80 {
     bottom:80px;
}
 .bottom-85 {
     bottom:85px;
}
 .bottom-90 {
     bottom:90px;
}
 .bottom-95 {
     bottom:95px;
}
 .bottom-100 {
     bottom:100px;
}
 .bottom-200 {
     bottom:200px;
}
 .bottom-300 {
     bottom:300px;
}
 .bottom-400 {
     bottom:400px;
}
 .bottom-500 {
     bottom:500px;
}
/* /Bottom in Pixels */
/*----- /ARROWS -----*/
/*----- OTHER -----*/
/* Float None */
 .pull-none {
     float:none !important;
}
/* /Float None */
/* Border Zero */
 .border-zero {
     border:0px !important;
}
/* /Border Zero */
/* Overflow Hidden */
 .overflow-hidden {
     overflow:hidden;
}
/* /Overflow Hidden */
/* Opacity */
 .opacity-1 {
     opacity:1 !important;
}
 .opacity-percent-20 {
     opacity:0.2 !important;
}
 .opacity-percent-90 {
     opacity:0.9 !important;
}
 .opacity-percent-70 {
     opacity:0.7 !important;
}
/* /Opacity */
/* Line Height */
 .line-height-40 {
     line-height:40px !important;
}
/* /Line Height */
/*float*/
 .float-left {
     float:left !important;
}
 .float-right {
     float: right !important;
}
 .text-align-center{
     text-align:center !important;
}
 .text-align-justify{
     text-align: justify !important;
}
 .top-negative-69{
     top:-69px;
}
 .justify-content-center{
     justify-content: center;
}
/* ------ / util end ------ */
/* ------ Responsive media query start ------ */
/* ---- media only screen and (width: 1024px) start---- */
 @media only screen and (width: 1024px) {
     .my-business-project-header-page .country-dropdown .dropdown-menu {
         left: -45px;
    }
}
/* ---- / media only screen and (width: 1024px) end---- */
/* ---- media only screen and (min-width: 768px) and (max-width: 1024px) start---- */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
     .my-business-project-header-page .searsh-input-type-header {
         width: 100%;
    }
     .my-business-project-header-page .country-dropdown .nav-link {
         width: 44px;
         right: -130px;
    }
     .my-business-project-header-page .mobile-header-search-icon {
         margin-left: -200px;
    }
     .my-business-project-header-page .profile-info .dropdown-menu {
         left: -125px;
    }
}
/* ---- / media only screen and (min-width: 768px) and (max-width: 1024px) end---- */
/* ---- media query (max-width: 768 px ) start ---- */
 @media(max-width:768px){
    /*general styles*/
     h1{
         font-size: 20px;
    }
     h2{
         font-size: 18px;
    }
     h3{
         font-size: 16px;
    }
     .my-business-home-page h1,h2,h3,h4 ,h5,h6,p {
         text-align: center;
         padding-left: 0px ;
         padding-right: 0px;
         margin-left: 0px;
         margin-right: 0px;
    }
     .my-business-home-page button{
         text-align: center;
         margin-left: auto;
         margin-right: auto;
         display: block;
    }
    /*my-business-project-header-page-styles-start */
    /*english style start*/
     .my-business-project-header-page .my-business-big-menu{
         height:75px;
    }
     .my-business-project-header-page .home-nav-ul-text{
         background-color: rgba(249, 249, 249, 0.95);
         border-top: 1px solid rgba(8, 8, 8, 0.39);
         position: absolute;
         right: 0px;
         top: 75px;
         color: #535353;
         z-index: 999;
         border-bottom: 2px solid #7b3838;
         box-shadow: 0 4px 8px 0 rgba(105, 105, 105, 0.2), 0 6px 20px 0 rgba(105, 105, 105, 0.2);
    }
     .my-business-project-header-page .home-nav-ul-text ul li{
         border-bottom: 1px solid rgba(8, 8, 8, 0.39);
         border-left: none !important;
         padding: 20px 20px;
         text-align: center;
    }
     .my-business-project-header-page .mobile-menu-button span{
         color: #e60000;
    }
     .my-business-project-header-page .navbar-light .navbar-toggler{
         background-color: #f9f9f9;
         border: 1px solid #e60000;
    }
     .my-business-project-header-page .search-menu-form {
         display: none;
         position: absolute;
         z-index: 8;
         background-color: #f9f9f9;
         border-radius: 5px;
         padding: 15px;
         top: 75px;
         left:50px;
         right:50px;
    }
     .my-business-project-header-page .search-menu-form .header-search-icon{
         position: absolute;
         right: 12px;
         top:8px;
    }
     .my-business-project-header-page .mobile-header-search-icon{
         color: #e60000;
         display:flex;
         margin-left: -80px;
    }
     .my-business-project-header-page .logo-nav-div{
         width: 50px;
         border-right: none;
    }
     .my-business-project-header-page .my-business-big-menu .logo-nav-div .logo-img-in-big-size{
         display: none;
    }
     .my-business-project-header-page .my-business-big-menu .logo-nav-div .logo-img-in-small-size{
         width:100% !important;
         height:auto;
         display: flex;
    }
     .my-business-project-header-page .my-business-big-menu .logo-nav-div .logo-img-in-small-size img{
         width:50px !important;
         height:50px;
    }
     .my-business-project-header-page .header-login-button {
         margin-right: 0px;
    }
     .my-business-project-header-page .menu-with-out-logo {
         margin-left: 0px;
    }
     .my-business-project-header-page .country-dropdown .nav-link {
         padding:3px 3px ;
         border: 1px solid #b3b3b3;
         margin-top: 14px;
         position: absolute;
         width: 40px;
         right: -60px;
    }
     .my-business-project-header-page .profile-info .dropdown-menu {
         left:-125px;
    }
     .my-business-project-header-page .country-dropdown {
         display: inline-block;
    }
     .my-business-project-header-page .country-dropdown .nav-link span.country-img img {
         display: none;
    }
     .my-business-project-header-page .profile-info .profile-name{
         display: none;
    }
     .my-business-project-header-page .login-li-your-name{
         display: none;
    }
     .my-business-project-header-page .profile-info .nav-link .profile-img img {
         width: 40px;
         height: 40px;
    }
     .my-business-project-header-page .profile-info .nav-link {
         margin-left: -65px;
    }
    /* / english style end*/
    /* / my-business-project-header-page-styles-end*/
    /*my-business-project-footer-page-styles-start */
    /*english style start*/
     .my-business-project-footer-page .footer-ul li{
         display: block;
         border-right:none;
    }
     .my-business-project-footer-page .mony-pay-div {
         text-align: center;
    }
     .my-business-project-footer-page .social-media-div{
         float: none;
         text-align: center;
    }
    /*/
    english style end*/
    /*/
    my-business-project-footer-page-styles-end*/
    /*my-business-home-page-styles-start */
    /*english style start*/
     .my-business-project-header-page .navbar-nav .or-word-class {
         display: none;
    }
     .my-business-home-page .home-page-search-section .search-menu-form {
         padding-top: 5px;
    }
     .my-business-home-page .home-page-h2 {
         font-size: 22px;
    }
     .my-business-home-page .our-exbtion-div p {
         padding-right: 10px;
         padding-left: 10px;
    }
    /*/
     english style end*/
    /*arabic style start*/
    /*login modal start*/
     .login-modal-class .social-media-buttons a {
         width: 100%;
    }
     .login-modal-class .login-register-tab .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link {
         background-color: #eee;
         color: #494949;
         padding: 10px 15px;
    }
    /* / login modal end*/
    /*/
     my-business-home-page-styles-end*/
}
/* ---- / media query (max-width: 768 px ) end---- */
/* ---- media query (max-width: 500 px ) start ---- */
 @media(max-width:500px){
}
/* ---- / media query (max-width: 500 px ) end---- */
/* ---- media query (max-width: 321 px ) start---- */
 @media(max-width:321px){
     .my-business-home-page .home-page-search-section .search-input-type-home {
         width: 90%;
         margin-bottom: 10px;
    }
}
/* ---- / media query (max-width: 321 px ) end---- */
/* ------ / Responsive media query end ------ */
   /* ---- / error span--- */

 .error {
  color: red;
  font-size: 12px;
}